*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: auto;
    background-color: white;
    padding: 18px 60px;
}
.navbar .logo{
    padding: 8px 0;
}

.navbar ul{
    display: flex;
    gap: 30px;
    padding: 28px 346px; 
}
    
.navbar li{
    list-style: none;
    
      
}



.navbar a{
    text-decoration: none;
    color: black;
    
    
    font-weight: 800;
    font-size: 21px;
}

.btn1{
    padding: 12px 16px;
    height: 60px;
    width: 190px;
    color: white;
    background-color: rgba(70 145 101 );
    border-radius: 4px;
    border: none;
    margin: 24px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;


    
}

.btn3{
    padding: 12px 16px;
    height: 60px;
    width: 190px;
    color: white;
    background-color: rgba(70 145 101 );
    border-radius: 4px;
    border: none;
    margin: 24px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 12px auto;
    }



.banner{
    background-image:url(assets/hero-bg.png);
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 120px 60px;

   


}

.container1{
    height: auto;
    width: 220px;
    border-radius:30px ;
    background-color: white;
    text-align: center;
    margin: 0 auto;

}

.container1 p{
    color: rgba(70 145 101 );
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 6px;


}



.banner h1{
    line-height: 84px;
    color: white;
    font-size: 72px;
    font-weight: 700;
    font-family: sans-serif;

}

span{
    color:rgba(70 145 101 );
    
}
.para{
    line-height:24px;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
}

.buttons{
    display: flex;
    justify-content: center;
     gap: 24px;
     /* padding-bottom: 120px; */
}

.buttons .btn2{
     padding: 12px 16px;
 height: 60px;
 width: 180px;
 color: white;
 background-color: transparent;
 border-radius: 4px;
 border: none;
 margin: 24px 0;
 cursor: pointer;
 border: 2px white solid;
 display: flex;
align-items: center;
gap: 10px;
justify-content: center;
}
.cards-section{
    text-align: center;
    padding-top:58px;
    font-family: sans-serif;

    


}

.cards-section h1{
    font-size: 48px;


}

.cards-section p{
    color: #627382;

}

.cards{
    margin-top: 44px;
    padding: 0 120px;
    display:flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 60px;
}

.box1{
    height: 300px;
    width: 322px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgb(92, 92, 92);
}

.box2{
    height: 300px;
    width: 322px;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    

   
    border-radius: 8px;
box-shadow: 4px 4px 8px rgb(92, 92, 92);
}

.box3{
    height: 300px;
    width: 322px;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    

    
    border-radius: 8px;
box-shadow: 4px 4px 8px rgb(92, 92, 92);
}

.box4{
    height: 300px;
    width: 322px;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    

    
    border-radius: 8px;
box-shadow: 4px 4px 8px rgb(92, 92, 92);
}

.box1 .icon1{
    height:60px;
    width: 60px;
    box-shadow: 2px 4px 4px rgb(85, 85, 85);
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;

}


.box2 .icon2{
    height:60px;
    width: 60px;
    box-shadow: 2px 4px 4px rgb(85, 85, 85);
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .box3 .icon3{
    height:60px;
    width: 60px;
    box-shadow: 2px 4px 4px rgb(85, 85, 85);
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .box4 .icon4{
    height:60px;
    width: 60px;
    box-shadow: 2px 4px 4px rgb(85, 85, 85);
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    }


    .main{
        display: flex;
        gap: 140px;
        justify-content: center;
        margin: 120px;
        font-family: sans-serif;
    }

    .main .content{
        padding: 100px 0;

    }

    .main .content h1{
        font-size: 48px;
        

    }

    .main .content h3{
        color: #30B868;

    }

    .main .content ul{
        display: flex;
        
        
        justify-content: center;
        flex-direction: column;
   
   
   
}

    .main .content ul li{
        font-weight: bold;
         line-height:16px;
        list-style: none;
        display: flex;
        align-items: center;
        text-align: center;
f      }



.Ready{
    display: flex;
    justify-content:center;
}
    .bg{
        height:384px ;
        width: 1360px;
        text-align: center;
        background-color: rgb(245, 255, 242);
        margin: 0 120px 120px 120px;
        
 
    }


    .area{
        padding-top: 60px;
        
    


    }

    .bg .area p{
        color: #627382;
        line-height: 24px;
    }


    footer{
        height: 200px;
        width: 1665px;
       color: white;
       text-align: center;
       padding:160px 120px 120px 120px ;
       
        background-color: #041D34;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding-bottom: 180px;

    }


       


    footer .links h4{
        font-family: sans-serif;
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 8px;
    }






    




