*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: auto;
    background-color: white;
    padding: 18px 60px;
}
.navbar .logo{
    padding: 8px 0;
}

.navbar ul{
    display: flex;
    gap: 30px;
    padding: 28px 346px; 
}
    
.navbar li{
    list-style: none;
    
      
}



.navbar a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    
    font-weight: 800;
    font-size: 21px;
}

.btn1{
    padding: 12px 16px;
    height: 60px;
    width: 180px;
    color: white;
    background-color: rgba(70 145 101 );
    border-radius: 4px;
    border: none;
    margin: 24px 0;
    cursor: pointer;

    
}

.banner{
    background-image:url(assets/hero-bg.png);
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 120px 60px;
    /* display: flex; */
    justify-content: center;

   


}

.container1{
    height: auto;
    width: 200px;
    border-radius:30px ;
    background-color: white;
    text-align: center;
    margin: 0 auto;

}

.container1 p{
    color: rgba(70 145 101 );
    padding: 8px;


}



.banner h1{
    line-height: 84px;
    color: white;
    font-size: 72px;
    font-weight: 700;
    font-family: sans-serif;

}

span{
    color:rgba(70 145 101 );
    
}
.para{
    line-height:24px;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
}

.buttons{
    display: flex;
    justify-content: center;
     gap: 24px;
     /* padding-bottom: 120px; */
}

.buttons .btn2{
     padding: 12px 16px;
 height: 60px;
 width: 180px;
 color: white;
 background-color: transparent;
 border-radius: 4px;
 border: none;
 margin: 24px 0;
 cursor: pointer;
 border: 2px white solid;
}
.cards-section{
    text-align: center;
    padding-top:58px;
    font-family: sans-serif;

    


}

.cards-section h1{
    font-size: 48px;


}

.cards-section p{
    color: #627382;

}

.cards{
    margin-top: 44px;
    padding: 0 120px;
    display:flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 100px;
}

.box1{
    height: 300px;
    width: 322px;
    
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgb(92, 92, 92);
}

.box2{
    height: 300px;
    width: 322px;
   
    border-radius: 8px;
box-shadow: 4px 4px 8px rgb(92, 92, 92);
}

.box3{
    height: 300px;
    width: 322px;
    
    border-radius: 8px;
box-shadow: 4px 4px 8px rgb(92, 92, 92);
}

.box4{
    height: 300px;
    width: 322px;
    
    border-radius: 8px;
box-shadow: 4px 4px 8px rgb(92, 92, 92);
}



